@charset "utf-8";

        #module410 .formBanner410{ display:none; }
           
    #module410 .formMiddle.formMiddle410 .g_hover a span, #module410 .formMiddle.formMiddle410 .g_hover a, #module410 .formMiddle.formMiddle410 .g_hover span, #module410 .formMiddle.formMiddle410 .g_hover{font-size: 16px;font-family: 微软雅黑;font-weight: normal;font-style: normal;text-decoration: blink;color: rgba(43, 160, 162, 1);}


        #module410 div.formMiddle410 a{text-decoration:none;} #module410 div.formMiddle410 .pagenation_N
        a{text-decoration:none;} #module410 div.formMiddle410 .pagenation_N a span{text-decoration:none;}
        #module410 div.formMiddle410 a .shareCtrl{text-decoration:none;}
           
        #module410 div.formMiddle410 a{font-family:微软雅黑;}
             
        #module410 div.formMiddle410 a{font-weight:normal;}

           
        #module410 div.formMiddle410 a{font-size:16px;}
               
        #module410 .navAcrossCotent {height:70px;} #module410 .navAcrossCotent
        {line-height:normal;} #module410 .g_foldContainerValue {height:70px;}
        #module410 .fk_navClickContent {line-height:normal;}
        
        .navAPanel .form410 .navAcrossCotent {height:70px;} .navAPanel .form410
        .navAcrossCotent {line-height:normal;} .navAPanel .form410 .fk_navClickContent {height:70px;} .navAPanel .form410 .fk_navClickContent {line-height:normal;}
      
    #module410 .formMiddle410 .g_selected a span, #module410 .formMiddle410 .g_selected a, #module410 .formMiddle410 .g_selected{font-size: 16px;font-family: 微软雅黑;font-style: normal;font-weight: bold;text-decoration: blink;color: rgba(43, 160, 162, 1);}


        #module410 .formMiddle410{font-family:微软雅黑;} #module410 .formMiddle410
        .pic-mixNewsStyleSummary{font-family:微软雅黑;} #module410 .formMiddle410
        .memberLoginItem{font-family:微软雅黑;} #module410 .formMiddle410 .formMiddleContent
        .fk-photoGroupTitle-family{font-family:微软雅黑;} #module410 .formMiddle410
        .formMiddleContent .fk-searchMenuWord{font-family:微软雅黑;}
        
        .fk-newSearchSelectMenu410 .fk-searchMenuKeyWord{font-family:微软雅黑;}
           
        #module410 .formMiddle410{font-weight:normal;}
        #module410 .formMiddle410 .formMiddleContent .fk-searchMenuWord{font-weight:normalpx;}
              
        #module410 .formMiddle410 .g_minor{color:rgba(43, 160, 162, 1);}
        
        #module410 .formMiddle410 .g_specialClass{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410
        .formMiddleContent{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .second_Param{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .third_Param{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .fourth_Param{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .fifth_Param{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .pic-mixNewsStyleSummary{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .fk-photoGroupTitle-color{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410
        .productFilterNameCenter{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .fk-searchMenuWord{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .spanHiddenName{color:rgba(43, 160, 162, 1);} #module410 .formMiddle410 .formMiddleContent
        .photoSmallPicName{color:rgba(43, 160, 162, 1);}
        
        .fk-newSearchSelectMenu410 .fk-searchMenuKeyWord{color:rgba(43, 160, 162, 1);}
            
        #module410 .title{font-size:16px;} #module410 .formMiddle410{font-size:16px;}
        #module410 .formMiddle410 .pic-mixNewsStyleSummary{font-size:16px;}
        #module410 .formMiddle410 .productFilterNameCenter{font-size:16px;}
        #module410 .formMiddle410 .memberLoginItem{font-size:16px;} #module410 .formMiddle410
        .formMiddleContent .fk-photoGroupTitle-size{font-size:16px;} #module410 .formMiddle410
        .formMiddleContent .fk-searchMenuWord{font-size:16px;} .fk-newSearchSelectMenu410
        .fk-searchMenuKeyWord{font-size:16px;}
           
    #module410{ padding:0px;
     margin-left: 0px;   margin-right: 0px;   margin-top: 20px;   margin-bottom: 20px; 
    }

        #module454 .fk-formContentOther {display:none;} #module454 .fk-formContentOtherPadding {padding-top:0;}
        
        #module454 .formBanner454 .formBannerTitle .titleCenter{display:table-cell;} #module454 .formBanner454
        div.titleText{display:block;}
     
        #module454 .formBanner454{height:70px;line-height:70px;}
        
        #module454 .formBanner454 > div{height:70px;line-height:70px;}
        #module454 .formBanner454 td{height:70px;line-height:70px;}
        #module454 .formBanner454 table{height:70px;line-height:70px;}
        #module454 .formBanner454 .formBannerTitle{height:70px;line-height:70px;}

         
        #module454 .formBanner454 .titleText{height:70px;line-height:70px;}
        #module454 .formBanner454 .bannerTextOutWrap{height:70px;line-height:70px;} #module454 .formBanner454 .bannerTextOutWrap{padding-top:0;} #module454 .formBanner454
        .bannerTextOutWrap{padding-bottom:0;} #module454 .formBanner454 .formBannerOther{height:70px;line-height:70px;} #module454 .formBanner454 .formBannerBtn{height:70px;line-height:70px;}
     
        #module454 div.titleText454 .mainTitle454{
        
            font-size: 24px;
            
            padding-top: 2px;
          font-weight: normal;     font-family: 微软雅黑;  
        }

                
    #module454 .contentLineIcon {display:table-cell;}

       #module454 .contentLineIcon {width:13px;} 
        #module454 .contentLineIcon {padding-top: 2px;} #module454 .contentLineIcon {color: #222222;}
     
        #module454 .contentLineIcon {  }
    

    #module454 .g_vertFold .g_foldContainerValue a {background:none;padding-left:3px;} #module454 .productFilterVert
    .productFilterValue a {background:none;padding-left:3px;}

    #module454 .formMiddleContent454 {
     margin-top: 10px;   margin-bottom: 10px;   margin-left: 30px;   margin-right: 30px; 
    }
    
    #module454{ padding:0px;
     margin-left: 0px;   margin-right: 0px;   margin-top: 20px;   margin-bottom: 15px; 
    }
  
        #module454 .news_list_wrap .article_title{ font-family:微软雅黑;
                             font-size:20px;
                             font-weight:normal;
                             text-decoration:none;
                             font-style:normal; } 
           
        #module454 .news_list_wrap .news_title:hover .title_content { font-family:微软雅黑;
                             font-size:20px;
                             font-weight:normal;
                             text-decoration:none;
                             font-style:normal;color:rgba(43, 160, 162, 1); }
     
        
          
        #module454 .m_news_img .news_img{ border-radius: 5px;}
          
        #module454 .news_list_wrap .news_summary {-webkit-line-clamp : 2; }
    
        #module482 .formBanner482{ display:none; }
      
        #module482 div.titleText482 .mainTitle482{display:none;}
        
        #module482 .formBanner482{background:none;} #module482 .formBanner482 .center482{background:none;} #module482 .formBanner482 .right482{background:none;}
        #module482 .formBanner482 .formBannerTitle482{background:none;}
        
        #module482 .formBanner482 .titleLeft482{background-color:transparent;}
        #module482 .formBanner482 .titleCenter482{background:none;} #module482 .formBanner482
        .titleRight482{background:none;} #module482 .formBanner482 .titleText482{background:none;}
         
            #module482 .formBanner482{border:none;} #module482 .formBanner482
            .titleLeft{border:none;} #module482 .formBanner482 .titleCenter{border:none;}
            #module482 .formBanner482 .titleRight{border:none;} #module482 .formBanner482
            .formBannerTitle{border:none;}
         
        #module482 .formBanner482 .left482{ width:0px; height:0px; background:none; }
         
        #module482 .formBanner482 .titleLeft482{background-image:none;}
        
        #module482 .formBanner482 .center482 .titleText482 .doubleTitleWrap482
        .mainTitle_fontIcon{ font-size: 2.0rem; text-align: center; display: none; }
    
        #module482 {background:none;} #module482 .formMiddle482 {background:none;} #module482 .formMiddle482
        .formMiddleCenter482{background:none;} #module482 .formMiddleContent482{background:none;}
     #module482 { height: 80px; } 
        #module484 .formBanner484{ display:none; }
           
    #module484 {border:none;} #module484 .formMiddle484{border:none;} #module484 .formMiddle484
    .formMiddleCenter484{border:none;} #module484 .formTop484{display:none;}
    #module484 .formBottom484{display:none;} #module484 .formMiddle484 .formMiddleLeft484{display:none;} #module484 .formMiddle484 .formMiddleRight484{display:none;}
    
        #module484 {background:none;} #module484 .formMiddle484 {background:none;} #module484 .formMiddle484
        .formMiddleCenter484{background:none;} #module484 .formMiddleContent484{background:none;}
     #module484 { height: 40px; } 
    #module484 .formMiddleContent484 {
     margin-top: 3px;   margin-bottom: 0px;   margin-left: 0px;   margin-right: 0px; 
    }
     
        .webHeaderFixed #module484.formStyle62 .fk-newSearchBox { background:  !important; }
       
        .webHeaderFixed #module484.formStyle62 .fk-searchBoxBtn span{
        -webkit-text-fill-color: initial;
color:;
color: !important;

        }
    
        #module485 .formBanner485{ display:none; }
           
    #module485 {border:none;} #module485 .formMiddle485{border:none;} #module485 .formMiddle485
    .formMiddleCenter485{border:none;} #module485 .formTop485{display:none;}
    #module485 .formBottom485{display:none;} #module485 .formMiddle485 .formMiddleLeft485{display:none;} #module485 .formMiddle485 .formMiddleRight485{display:none;}
    
        #module485 {background:none;} #module485 .formMiddle485 {background:none;} #module485 .formMiddle485
        .formMiddleCenter485{background:none;} #module485 .formMiddleContent485{background:none;}
    
        #module485 .formMiddle485{font-family:微软雅黑;} #module485 .formMiddle485
        .pic-mixNewsStyleSummary{font-family:微软雅黑;} #module485 .formMiddle485
        .memberLoginItem{font-family:微软雅黑;} #module485 .formMiddle485 .formMiddleContent
        .fk-photoGroupTitle-family{font-family:微软雅黑;} #module485 .formMiddle485
        .formMiddleContent .fk-searchMenuWord{font-family:微软雅黑;}
        
        .fk-newSearchSelectMenu485 .fk-searchMenuKeyWord{font-family:微软雅黑;}
           
        #module485 .formMiddle485{font-weight:normal;}
        #module485 .formMiddle485 .formMiddleContent .fk-searchMenuWord{font-weight:normalpx;}
              
        #module485 .formMiddle485 .g_minor{color:rgba(254, 87, 34, 1);}
        
        #module485 .formMiddle485 .g_specialClass{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485
        .formMiddleContent{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .second_Param{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .third_Param{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .fourth_Param{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .fifth_Param{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .pic-mixNewsStyleSummary{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .fk-photoGroupTitle-color{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485
        .productFilterNameCenter{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .fk-searchMenuWord{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .spanHiddenName{color:rgba(254, 87, 34, 1);} #module485 .formMiddle485 .formMiddleContent
        .photoSmallPicName{color:rgba(254, 87, 34, 1);}
        
        .fk-newSearchSelectMenu485 .fk-searchMenuKeyWord{color:rgba(254, 87, 34, 1);}
            
        #module485 .title{font-size:16px;} #module485 .formMiddle485{font-size:16px;}
        #module485 .formMiddle485 .pic-mixNewsStyleSummary{font-size:16px;}
        #module485 .formMiddle485 .productFilterNameCenter{font-size:16px;}
        #module485 .formMiddle485 .memberLoginItem{font-size:16px;} #module485 .formMiddle485
        .formMiddleContent .fk-photoGroupTitle-size{font-size:16px;} #module485 .formMiddle485
        .formMiddleContent .fk-searchMenuWord{font-size:16px;} .fk-newSearchSelectMenu485
        .fk-searchMenuKeyWord{font-size:16px;}
            #module485 { height: 29px; }  
    #webHeaderTable .webHeaderTd.webHeaderFixed {
    
    }

        .fixed_project .newPrimaryTitle, .fixed_project .newPrimaryTitle * {
        
        }

          #webHeaderTable {display:table !important;*display:block !important;height:173px !important;}
#webHeaderTable .webHeaderTd {height:173px;}
#footer .footerNav { padding: 0 0px 0 0px;}
#footer .footerInfo { padding: 0 0px 0 0px;}
#footer .footerSupport { padding: 0 0px 0 0px;}
#footer .visitorCounterWrap { padding: 0 0px 0 0px;}
#footer .footerContent { padding-top: 0px;}
#footer .footerContent { padding-bottom: 0px;}
#footer div.footerInfo a{font-size:14px;}
#footer div.footerSupport a{font-size:14px;}
#footer div.footerInfo a{font-weight:normal; }
#footer div.footerSupport a{font-weight:normal; }
#footer .footerInfo a{font-weight:normal; }
#footer .footerSupport a{font-weight:normal; }
#footer div.footerInfo a{font-family:微软雅黑;}
#footer div.footerSupport a{font-family:微软雅黑;}
#footer div.footerInfo a{ color:#4d4d4d;}
#footer div.footerSupport a{ color:#4d4d4d;}
#footer .footerInfo a{ text-decoration:none;}
#footer .footerSupport a{ text-decoration:none;}
#footer .footerInfo a:hover{ color:#00b32d;}
#footer .footerSupport a:hover{ color:#00b32d;}
#footer .footerInfo{font-size:14px;}
#footer .footerSupport{font-size:14px;}
#webFooterTable .footerItemTop .footerItemTopLink{font-size:14px;}
#webFooterTable .footerItemBottom a{font-size:14px;}
#footer .footerInfo a{font-size:14px;}
#footer .footerSupport a{font-size:14px;}
#footer .footerInfo{font-weight:normal;}
#footer .footerSupport{font-weight:normal;}
#webFooterTable .footerItemTop .footerItemTopLink{font-weight:normal;}
#webFooterTable .footerItemBottom a{font-weight:normal;}
#footer .footerInfo a{font-weight:normal;}
#footer .footerSupport a{font-weight:normal;}
#footer .footerInfo{font-style:normal;}
#footer .footerSupport{font-style:normal;}
#webFooterTable .footerItemTop .footerItemTopLink{font-style:normal;}
#webFooterTable .footerItemBottom a{font-style:normal;}
#footer .footerInfo a{font-style:normal;}
#footer .footerSupport a{font-style:normal;}
#footer .footerInfo{text-decoration:normal; }
#footer .footerSupport{text-decoration:normal; }
#webFooterTable .footerItemTop .footerItemTopLink{text-decoration:normal;}
#webFooterTable .footerItemBottom a{text-decoration:normal;}
#footer .footerInfo a{text-decoration:normal;}
#footer .footerSupport a{text-decoration:normal;}
#footer .footerInfo{font-family:微软雅黑;}
#footer .footerSupport{font-family:微软雅黑;}
#webFooterTable .footerItemTop .footerItemTopLink{font-family:微软雅黑;}
#webFooterTable .footerItemBottom a{font-family:微软雅黑;}
#footer .footerInfo a{font-family:微软雅黑;}
#footer .footerSupport a{font-family:微软雅黑;}
#footer .footerInfo{ color:#4d4d4d;}
#footer .footerInfo{ color:#4d4d4d;}
#footer .footerSupport{ color:#4d4d4d;}
#footer .footerSupport{ color:#4d4d4d;}
#webFooterTable .footerItemTop .footerItemTopLink{color:#4d4d4d;}
#webFooterTable .footerItemTop .footerItemTopLink{color:#4d4d4d;}
#webFooterTable .footerItemBottom a{color:#4d4d4d;}
#webFooterTable .footerItemBottom a{color:#4d4d4d;}
#webFooterTable .footerItemBottom a{color:#4d4d4d;}
#footer .footerInfo a{ color:#4d4d4d;}
#footer .footerSupport a{ color:#4d4d4d;}
#footer .footerSupport a{ color:#4d4d4d;}

#webFooterTable  {background:#1a1a1a;}
#webFooterTable  {background:#1a1a1a;}
#webFooterTable .webFooter {background:none;}
#webFooterTable .footer {background:none;border-color:transparent;}
#webFooterTable .footerTop {display:none;}
#webFooterTable .middleLeft {display:none;}
#webFooterTable .middleCenter {background:none;}
#webFooterTable .footerContent {background:none;}
#webFooterTable .footerNav {background:none;}
#webFooterTable .footerInfo {background:none;}
#webFooterTable .footerSupport {background:none;}
#webFooterTable .middleRight {display:none;}
#webFooterTable .footerBottom {display:none;}
#webFooterTable div.footerVerticalLine{width:0px;}
#webFooterTable div.footerVerticalLine{background-color:#4d4d4d;}
#webFooterTable div.footerItemTop .footerItemTopLink{font-family:微软雅黑;}
#webFooterTable div.footerItemTop .footerItemTopLink{font-size:14px;}
#webFooterTable div.footerItemTop .footerItemTopLink{font-weight:normal;}
#webFooterTable div.footerItemTop .footerItemTopLink{text-decoration:none;}
#webFooterTable div.footerItemTop .footerItemTopLink{font-style:normal;}
#webFooterTable div.footerItemTop .footerItemTopLink{color:#4d4d4d;}
#webFooterTable div.footerItemTop a:hover{color:#06b4b7;}

#web {background:url(../13526051.s21i.faiusr.com/4/ABUIABAEGAAgl6i68gUo4aHWsAUwkAM4kAM.png),rgba(243, 243, 243, 1);}
#web {background:url(../13526051.s21i.faiusr.com/4/ABUIABAEGAAgl6i68gUo4aHWsAUwkAM4kAM.png),rgba(243, 243, 243, 1);}
#web {background-origin: content-box;background-repeat:repeat;background-position:top;}
#navV2 {height:60px;}
#navV2 .navContent{height:60px;}
#navV2 .navMainContent{height:100%;}
#navV2  .navCenterContent{height:100%;}
#navV2 {top:113px;}
#navV2 .navCenter{width:auto;}
#navV2 .navMainContent{width:1200px;}
#navV2 .navMainContent{text-align:left;}
#navV2 .navContent{position:relative;margin:0;}

#navV2  {background:url(../13526051.s21i.faiusr.com/4/ABUIABAEGAAgl6i68gUo4aHWsAUwkAM4kAM.png) repeat center,rgba(2, 159, 162, 1);}
#navV2  {background:url(../13526051.s21i.faiusr.com/4/ABUIABAEGAAgl6i68gUo4aHWsAUwkAM4kAM.png) repeat center,rgba(2, 159, 162, 1);}
#navV2 {}
#navV2 .navContent{background:none;}
#navV2.fixed_project .item { background: rgba(255, 255, 255, 0) ;}
#navV2.fixed_project .itemSelected,#navV2.fixed_project .itemHover { background: rgba(2, 159, 162, 1) !important;}
#navV2.fixed_project .itemName0{font-size: 17px;
color: rgba(255, 255, 255, 0.9514218009478673);
font-family: 微软雅黑;
font-weight: normal;
text-decoration: none;
font-style: normal;
}#navV2.fixed_project .itemHover .itemName0,#navV2.fixed_project .itemSelected .itemName0{color: rgba(255, 255, 255, 0.9954978617446683);
}#navV2.fixed_project .nav_item_arrow{color: rgba(255, 255, 255, 0.9514218009478673);
}#navV2.fixed_project .itemHover .nav_item_arrow,#navV2.fixed_project .itemSelected .nav_item_arrow{color: rgba(255, 255, 255, 0.9954978617446683);
}#navV2.fixed_project .itemSep,#navV2.fixed_project .itemSepLine{width: 0px;;
}
#navV2.fixed_project .itemSep { display: inline;}
#navV2.fixed_project .itemSepLine { height: 60px;;
background: ;
}
#navV2.fixed_project .itemSep { height: 60px;;
}

#navV2.fixed_project {background:url(../13526051.s21i.faiusr.com/4/ABUIABAEGAAgl6i68gUo4aHWsAUwkAM4kAM.png) repeat center,rgba(2, 159, 162, 1);}
#navV2.fixed_project {background:url(../13526051.s21i.faiusr.com/4/ABUIABAEGAAgl6i68gUo4aHWsAUwkAM4kAM.png) repeat center,rgba(2, 159, 162, 1);}
#navV2.fixed_project{}
#navV2.fixed_project .navContent{background:none;}

#navV2 .item  {background:transparent;}
#navV2 .item  {background:rgba(255, 255, 255, 0);}

#navV2 .itemSelected  {background:#029fa2;}
#navV2 .itemSelected  {background:rgba(2, 159, 162, 1);}

#navV2 .itemHover  {background:#029fa2;}
#navV2 .itemHover  {background:rgba(2, 159, 162, 1);}
#navV2 .J_nav_item_name{text-decoration:none;}
#navV2 .J_nav_item_name{font-size:17px; }
#navV2 .J_nav_item_name{font-family:微软雅黑; }
#navV2 .J_nav_item_name{color:rgba(255, 255, 255, 0.9514218009478673); }
#navV2 .nav_item_arrow{color:rgba(255, 255, 255, 0.9514218009478673); }
#navV2 .nav_item_icon{color:rgba(255, 255, 255, 0.9514218009478673); }
#navV2 .itemSelected .J_nav_item_name{color:rgba(255, 255, 255, 0.9954978617446683); }
#navV2 .itemHover .J_nav_item_name{color:rgba(255, 255, 255, 0.9954978617446683); }
#navV2 .itemSelected .nav_item_arrow{color:rgba(255, 255, 255, 0.9954978617446683); }
#navV2 .itemHover .nav_item_arrow{color:rgba(255, 255, 255, 0.9954978617446683); }
#navV2 .itemSelected .nav_item_icon{color:rgba(255, 255, 255, 0.9954978617446683); }
#navV2 .itemHover .nav_item_icon{color:rgba(255, 255, 255, 0.9954978617446683); }
#navV2 .J_nav_item_name{text-shadow:none; }
#navV2 .J_nav_item_name{-webkit-text-shadow:none; }
#navV2 .J_nav_item_name{-o-text-shadow:none; }
#navV2 .J_nav_item_name{-ms-text-shadow:none; }
#navV2 .J_nav_item_name{-moz-text-shadow:none; }
#navV2 .item{width:130px;}
#navV2 .item{min-width:130px;}
#navV2 .item{width:auto;}
#navV2 .item{height:60px;}
#navV2 .item a, #navV2 .nav_item_wrapper{height:60px; line-height:60px;}
#navV2 .item a, #navV2 .nav_item_wrapper{margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0;}
#navV2 .item a .J_nav_item_name{position:relative;top:0;}
#navV2 .item a .J_nav_item_subname{display: none;position:relative;}
#navV2 .itemSep {width:0px;}
#navV2 .itemSepLine {width:0px;}
#navV2 .itemSep {display:inline;}
#navV2 .itemSep {height:60px;}
#navV2 .itemSepLine {height:60px;}
#navV2 .itemSep {background-color:transparent;}

#navV2 .itemSepLine  {background:;}
#navV2 .itemSepLine  {background:;}
#navV2 .item {border-top-left-radius:0;}
#navV2 .item {border-top-right-radius:0;}
#navV2 .item {border-bottom-left-radius:0;}
#navV2 .item {border-bottom-right-radius:0;}
.navSubMenu .navStyle .center .item{background:rgba(2, 159, 162, 1); }
.navSubMenu .navStyle .subMenu .middle .center .item {background:rgba(2, 159, 162, 1); }
.navSubMenu .navStyle .center .outMenuTriangle{border-bottom-color:rgba(2, 159, 162, 1); }
.navSubMenu .navStyle .content .top{background:rgba(2, 159, 162, 1); }
.navSubMenu .navStyle .content .bottom{background:rgba(2, 159, 162, 1); }
.navSubMenu .navStyle .center .itemHover {background:rgba(65, 183, 185, 1); }
.navSubMenu .navStyle .subMenu .middle .center .itemHover {background:rgba(65, 183, 185, 1); }
.navSubMenu .navStyle .center .outMenuTriangle.triangleHover{border-bottom-color:rgba(65, 183, 185, 1); }
.navSubMenu .navStyle .content .top.lineHover{background:rgba(65, 183, 185, 1); }
.navSubMenu .navStyle .content .bottom.lineHover{background:rgba(65, 183, 185, 1); }
.navSubMenu .g_menu {opacity: 1; }
.navSubMenu .navStyle .center .item a{text-decoration:none;}
.navSubMenu .navStyle .center .item a{font-size:15px; }
.navSubMenu .navStyle .subMenu .middle .center .item a{font-size:15px; }
.navSubMenu .navStyle .center .item a{font-family:微软雅黑; }
.navSubMenu .navStyle .subMenu .middle .center .item a{font-family:微软雅黑; }
.navSubMenu .navStyle .center .item a{color:rgba(255, 255, 255, 1); }
.navSubMenu .navStyle .subMenu .middle .center .item a{color:rgba(255, 255, 255, 1); }
.navSubMenu .navStyle .center .itemHover a{color:rgb(255, 255, 255); }
.navSubMenu .navStyle .subMenu .middle .center .itemHover a{color:rgb(255, 255, 255); }
.navSubMenu .navStyle .center .item a{text-align:center;}
#memberBar{width:1200px;}
#topAdvForms{width:1200px;}
#bottomFloatLayerForms{width:1200px;}
#webTop{width:1200px;}
#absTopForms{width:1200px;}
.webNavDefault{width:1200px;}
.webHeader .headerNavClass{width:1200px;}
#webHeader{width:1200px;}
#absForms{width:1200px;}
div#webContainer{width:1200px;}
#absBottomForms{width:1200px;}
#webFooter{width:1200px;}
div.webNav .navMainContent{width:1200px;}
div.nav .navMainContent{width:1200px;}
.fullmeasureContent{width:1200px;}
#fk-webHeaderZone {width:1200px;margin-left:-600.0px;}
#fk-webFooterZone {width:1200px;margin-left:-600.0px;}
#fk-webBannerZone {width:1200px;margin-left:-600.0px;}
#bottomFloatLayerForms{width:100%;}
#webBanner{width:100%;}